form {
    text-align: center;
    border: 3px solid #F7F9FB;
    width: 500px;
    height: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: #F7F9FB;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin-bottom: 210px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
}

img {
    text-align: center;
}

button {
    background-color: #31708E;
    color: white;
    padding: 14px 0;
    margin: 30px 0px 0px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
}

button:hover {
    background-color: #5085A5;
}

.container {
    padding: 10px 0;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1;
    font-style: normal;
    font-variation-settings:
    margin: 0px;
}

.login-text {
    text-align: center;

}

.psw {
    float: right;
    padding-top: 10px;
}

.site-footer {
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}