@font-face {
    /*font-family: 'FindSans Pro Light';*/
    src: url('gromkodigital.ru');
    font-weight: normal;
    font-style: normal;
}

html {
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.1) transparent;
}

body {
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 30;
    font-style: normal;
    background: #F5F5F5;
    background-image: url('../images/background_figures.png');
}

header {
    padding: 1rem !important;
    position: sticky;
    top: 0;
    background-color: #212529;
    color: white;
    padding: 15px;
    z-index: 1000;
    width: 100%;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
header.hidden {
    transform: translateY(-100%);
}

.header-end {
    height: 50px;
    margin: 0px 100px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header {
    background: #212529;
    height: 100px;
    align-items: center;
    display: flex;
}

.site-footer {
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto; /* Для прижатия к низу */
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

form {
    text-align: center;
    border: 3px solid #f1f1f1;
    width: 500px;
    height: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin-bottom: 210px;
}
p {
    text-align: left;
    margin: 8px 0px 0px 0px;
}

img {
    text-align: center;
}

.course {
    font-optical-sizing: auto;
    font-weight: 30;
    font-style: normal;
    text-align: center;
    padding: 5px 0;
}

.groups-page {
    justify-content: center;
    display: grid;
}
.groups-align {
    justify-content: center;
    width: 700px;
    background: white;
    border-radius: 25px;
    margin: 5% 0% 5% 0%;;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

.vertical-divider {

}

.header-horizontal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-button-img {
    width: 90px;
    height: 80px;
    margin: 0px 0px 0px 50px;
}

.logo-big-img {
    width: 200px;
    height: 100px;
    margin: 0px 0px 0px 0px;
}

.header-buttons-ul {
    color: transparent;
    display: flex;
    margin: 0px;
    align-items: center;
}

.button-header {
    display: inline-block;
    padding: 10px 10px 5px 10px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-weight: 30;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
    text-align: center;
    width: 100px;
    height: 50px;
    transition: all 0.3s ease;

    border-right: 1px solid white;
}

.button-header:hover  {
    background: white;
    color: #212529;
}

.button-login {
    display: inline-block;
    padding: 10px 0px 10px 0px;
    margin: 5px 0px 5px 100px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    cursor: pointer;
    text-align: center;
    width: 100px;
    height: 50px;
    transition: all 0.3s ease;
}

.button-login:hover  {
    background: white;
    color: #212529;
}

.img-user {
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 10px;
}

.buttons-group {
    gap: 15px;
    text-align: center;
    margin: 10px 0px 10px 0px;
}
.flex-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.button-href {
    align-items: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid #212529;
    margin: 5px 2px 5px 2px;
    cursor: pointer;
    text-align: center;
    width: 120px;
    height: 50px;
    text-wrap: nowrap;
    transition: all 0.3s ease;
}

.button-href:hover  {
    background-color: #212529;
    color: white;
}

.test {
    align-items: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid red;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
    text-align: center;
    width: 120px;
    height: 50px;
    transition: all 0.3s ease;
}
.test:hover {
    background-color: red;
    border: 2px solid white;
    color: white;
    transform: scale(1.1);
}

.schedule {
    display: grid;
    justify-content: center;
}

.empty-check {
    width: 800px;
}

.day-of-week {
    align-self: center;
    border: 2px solid #0056b3;
    padding: 5px 10px 5px 10px;
    margin: 20px 10px 20px 10px;
    width: 100%;
    background: white;
}
.day-of-week-today {
    align-self: center;
    border: 2px solid #0056b3;
    padding: 5px 10px 5px 10px;
    margin: 20px 10px 20px 10px;
    width: 100%;
    background: #2c6dbc;
}

.lesson {
    border: 2px solid grey;
    padding: 5px 10px 5px 10px;
    margin: 5px 0px 5px 0px;
    background: white;
}

.container-time-teacher {
    display: flex;
    gap: 10px;
    width: 400px;
}

.container-type-name {
    display: flex;
    gap: 10px;
    width: 800px;
}

.lesson-name {
    padding: 10px 0;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}

.lesson-type {
    padding: 10px 0;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}

.lesson-time {
    padding: 10px 0;
    align-items: left;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 10;
    font-style: normal;
}

.lesson-teacher {
    padding: 10px 0;
    align-items: left;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 10;
    font-style: normal;
}

.home-container {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    gap: 40px;
    height: 800px;
}

.announcement-container {
    display: grid 5px;
    width: 300px;
    height: 600px;
    margin: 7% 30% 10% 30%;
    overflow: auto;

    border: 1px solid #212529;
    background-color: #212529;

    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.1) transparent;
}

.announcement {
    padding: 2%;
    margin: 2%;
    text-align: left;
    color: white;
    background-color: #212529;
    border-bottom: 1px solid white;
    display: block;
    text-decoration: none;
}

.announcement:hover {
    background: white;
    color: #212529;
}

.news-container {
    display: grid 5px;
    width: 800px;
    height: 600px;
    margin: 3% 30% 10% 30%;
    overflow: auto;

    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.1) transparent;
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.news-article {
    background-color: #212529;
    margin: 2% 5% 5% 0%;
    height: 280px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}
.news-article:hover {
    background-color: #2c6dbc;
}

.article-title {
    padding: 2% 2% 0% 2%;
    text-align: center;
    color: white;
    font-size: revert;
}

.article-title-scrollable {
    padding: 2% 2% 0% 2%;
    text-align: center;
    color: white;

    white-space: nowrap;
    animation: scroll-text 15s linear infinite;
}

@keyframes scroll-text {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.article-description {
    color: white;
    text-align: center;
    font-size: smaller;
    margin: 0px 0px 5px 0px;
}

.article-image {
    position: sticky;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    margin-top: auto;
}
.article-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c6dbc;
    transition: all 0.3s ease;
    pointer-events: none; /* Чтобы градиент не мешал кликам */
}

.article-image:hover::after {
    background-color: #2c6dbc;
}

.more-news{
    color: white;
    background: #212529;
}
.news-container-wide {
    width: 100%;
    display: flex;
    justify-content: center;
}
.news-container-standalone {
    display: grid 5px;
    width: 1000px;
    height: 650px;
    margin: 3% 0% 5% 0%;
    overflow: auto;

    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.1) transparent;
}
.article-text-standalone {
    font-weight: 30;
    font-size: large;
    border-top: 1px solid black;
    padding: 10px 10px 10px 0px;
    text-align: justify;
    background: white;
}
.article-title-container {
    background: #212529;
    height: 80px;
}

.profile-info-container {
    width: 70%;
    display: grid;
    background: white;
    border-radius: 15px;
    height: 400px;
    margin: 0% 15% 10% 15%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

.profile-info-unit-title {
    display: flex;
    border-top: 1px solid #212529;
}
.profile-info-field-title {
    font-weight: 30;
    width: 10%;
    margin-left: 1%;
    margin-top: 1%;
    font-size: medium;
    height: 40px;
}
.profile-info-field {
    font-weight: 30;
    width: 20%;
    margin-left: 5%;
    font-size: large;
}
.profile-info-img {
    aspect-ratio: 1:1;
    height: 30px;
    margin: 1% 1% 1% 1%;
}
.button-logout {
        align-items: center;
        display: inline-block;
        padding: 10px 20px;
        background-color: #DC143C;
        color: white;
        text-decoration: none;
        border-radius: 15px;
        margin: 5px 2px 5px 2px;
        cursor: pointer;
        text-align: center;
        width: 120px;
        height: 50px;
        text-wrap: nowrap;
        transition: all 0.3s ease;
        box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}
.button-logout:hover {
    color: #DC143C;
    background: white;
}